body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Section One */

.section-one {
    padding: 80px 8px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-one > .content {
    max-width: 400px;
    padding: 16px;
}

.dog-photo {
    max-width: 400px;
    height: auto;
    padding: 16px;
}

.awesome-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 12px;
}

/* Section Two */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px 96px;
}

.section-two > .text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.section-two > .content {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.content-element {
    max-width: 150px;
}

.content-element > p {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    color: #4c545f
}

.section-two-image {
    max-width: 150px;
    margin: 0;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

/* Section Three */

.section-three {
    display: flex;    
    justify-content: center;
    background-color: #E5E7EB;
    padding: 96px 8px;    
}

.section-three > .content {
    max-width: 50%;
}

.main-text {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.secondary-text {
    margin-top: 0;
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    
}

/* Section Four */

.section-four {
    display: flex;
    justify-content: center;
    padding: 96px 8px;
}

.section-four > .content {
    min-width: 60%;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 24px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.section-four > .content > .text {
    margin-right: 8px;
}

.section-four > .content > .button {
    background-color: transparent;
    border: #F9FAF8 solid 2px;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #F9FAF8;
}

.section-four-heading {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.section-four-subtext {
    font-weight: 100;
    color:#F9FAF8;
    margin-top: 0;
}

/* Footer */

.footer {
    background-color: #1F2937;
    padding: 32px;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}