body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

#header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 1em 0;
}

#header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

/* Hero Section */

#hero-section {
    padding: 5em 1em;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#hero-content {
    max-width: 400px;
    padding: 16px 0;
}

#hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0.5em;
}

#hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 1em;
}

#hero-sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    font-size: 18px;
    padding: 0.5em 2em;
    border-radius: 12px;
}

#dog-photo {
    max-width: 400px;
    height: auto;
    padding: 16px 0;
}

/* Information Section */

#information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px 96px;
}

#information-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin: 1em 0;
}

#information-content {
    max-width: 60%;
    padding: 0 8px;    
}

.wrapper {
    flex: 1 0 150px;
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.information-content-element {
    flex: 1 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center; /* center text*/
}

.information-content-text {
    text-align: center;
    margin-top: 0;
    font-size: 16px;
    color: #4c545f
}

.information-content-image {
    width: 100%;
    margin: 0;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}

/* Section Three */

#quote-or-testimonials-section {
    display: flex;    
    justify-content: center;
    background-color: #E5E7EB;
    padding: 96px 8px;    
}

#quote-or-testimonials-content {
    max-width: 60%;
}

#quote-or-testimonials-content > .text {
    margin: 0;
}

#quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

#quote-author {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    
}

/* Section Four */

#sign-up-section {
    display: flex;
    justify-content: center;
    padding: 96px 8px;
}

#sign-up-content {
    min-width: 60%;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 36px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#sign-up-text {
    margin-right: 8px;
}

#sign-up-section-button {
    background-color: transparent;
    border: #F9FAF8 solid 2px;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #F9FAF8;
}

#call-to-action {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#sign-up-subtext {
    font-weight: 100;
    color:#F9FAF8;
    margin: 0;
}

/* Footer */

#footer {
    background-color: #1F2937;
    padding: 2em;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}