body {
    margin: 0;
    height: 100vh;
}

/* Header */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

/* Section One */

.section-one {
    padding: 96px 8px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.section-one > .content {
    max-width: 400px;
}

.dog-photo {
    max-width: 400px;
    height: auto;
}

.awesome-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 12px;
}

/* Section Two */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px 96px;
}

.section-two > .text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.section-two > .content {
    display: flex;
    gap: 48px;
    flex-shrink: 1;
}

.content-element {
    max-width: 150px;
}

.content-element > p {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    color: #4c545f
}

.section-two-image {
    max-width: 150px;
    margin: 0;
    border: #3882F6 solid 4px;
    border-radius: 12px;
}